<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Professional Games</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="main-header">
        <h1>My Games Collection</h1>
        <button id="theme-toggle" class="theme-button">Night Mode</button>
    </header>
    <main>
        <section class="games-list">
            <h2>Available Games</h2>
            <ul>
                <li><a href="/run_game/DAMA.PY" target="_blank">DAMA</a></li>
                <li><a href="/run_game/SNAKE.PY" target="_blank">SNAKE</a></li>
                <li><a href="/run_game/TETRIS.PY" target="_blank">TETRIS</a></li>
            </ul>
<footer>
    <p> 2024 - My Professional Games Website</p>
</footer>            
        </section>
    </main>
    <footer>
        <p>© 2024 - My Professional Games Website</p>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>
